.genre-list {
  border-radius: 4px;
  margin: auto;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

.e-listview .e-list-item.e-active {
  background-color: #fb641b;
}
