.card-title {
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.preview-image {
  max-height: 350px;
  max-width: 250px;
}

.card-rating {
  position: absolute;
  right: 7px;
  top: 7px;
}
