<ng-container *ngIf="vm$ | async as vm; else loading"
  ><div class="row pt-3">
    <div class="col-md-3 col-sm-12 d-flex justify-content-center">
      <div class="filter-container">
        <app-movie-filter></app-movie-filter>
        <app-movie-sort [selectedSort]="vm.selectedSort"></app-movie-sort>
      </div>
    </div>
    <div class="col-md-9 mb-3 tile_layout">
      <div class="row e-card-layout">
        <div class="row">
          <ng-container *ngIf="vm.movieList; else nodata">
            <div
              *ngFor="let movie of vm.movieList"
              class="p-1 col-xs-6 col-sm-6 col-lg-3 col-md-6"
            >
              <app-movie-card [movie]="movie"></app-movie-card>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="d-flex justify-content-center mt-4">
    <!-- <mat-spinner></mat-spinner> -->
  </div>
</ng-template>

<ng-template #nodata>
  <div class="d-flex justify-content-center mt-4">
    <h1>No movies found.</h1>
  </div>
</ng-template>
